.round-image {
    border-radius: 50%;
    width: 100%;
    max-width: 400px;
}

.plant-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    padding: 10px;
    background-color: #061908;
}