.plant-carousel .plant-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.plant-carousel .plant-button img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    /* Add this line to make the image a circle */
}