.round-image {
    border-radius: 50%;
    width: 100%;
    max-width: 400px;
}

.plant-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

.round-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

/* Add some spacing between the rows */
.row .col-md-3:nth-child(4n + 1) {
    clear: left;
}

@media (max-width: 767.98px) {
    .row .col-sm-6:nth-child(2n + 1) {
        clear: left;
    }
}

