<!DOCTYPE html>
<html>  
    <head>
        <meta charset="utf-8">
        <title>All Data</title>
    </head>

    <body>
        <h1>Current Sensor Data</h1>
        <div id="sensor-ids"></div>
        <div id="sensor-data"></div>

        <h2>Current Outlet States</h2>
        <div id="outlet_ids"></div>

        <h3>Current Plant Data</h3>
        <div id="plant-ids"></div>



        <script src="/static/project_index.js"></script>
        <script>
            generateSensorButtons();
            generatePlantButtons();
            displayOutletStates();
        </script>
    </body>
</html>

