<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>All Data</title>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

</head>

<body>
    <h2>Current Sensor Data</h2>
    <div id="sensor-ids"></div>
    <div id="sensor-data"></div>


    <h2>Current Outlet States</h2>
    <div id="outlet_ids"></div>

    <h2>Current Plant Data</h2>
    <div id="plant-ids"></div>

    <h2>Current Sensor Readings via Plant Query</h2>
    <div id="plant-sensor-data"></div>

    <h2>PlantBook Data via Plant Query</h2>
    <div id="plantbook-data"></div>

    <h2>Current Humidity Sensor Data</h2>
    <div id="humidity-ids"></div>
    <div id="humidity-data"></div>



    
    <script src="/static/jsx/project_react.jsx"></script>
    <script>
        ReactDOM.render(React.createElement(GenerateSensorButtons), document.getElementById('sensor-ids'));
    </script>
</body>

</html>