<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>All Data</title>
</head>

<body>
    <h2>Current Sensor Data</h2>
    <div id="sensor-ids"></div>
    <div id="sensor-data"></div>

    <h2>Current Outlet States</h2>
    <div id="outlet_ids"></div>

    <h2>Current Plant Data</h2>
    <div id="plant-ids"></div>

    <h2>Current Sensor Readings via Plant Query</h2>
    <div id="plant-sensor-data"></div>

    <h2>PlantBook Data via Plant Query</h2>
    <div id="plantbook-data"></div>

    <h2>Current Humidity Sensor Data</h2>
    <div id="humidity-ids"></div>
    <div id="humidity-data"></div>


    <script src="/static/project_index.js"></script>


    <script>
        generateSensorButtons();
        generatePlantButtons();
        generateHumidityButtons();
        displayOutletStates();
    </script>
</body>

</html> -->