{% extends "base.html" %}

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>


{% block content %}

{% for outlet in outlets %}
<div class="outlet">
    <h1> {{outlet.outlet_id }}</h1>
    <p>Switch state: <span id="outlet-{{ outlet.outlet_id }} switch-{{ outlet.switch_id }}-state">{{ outlet.state }}</span></p>
    <button class="outlet-switch" data-outlet-id="{{ outlet.outlet_id }}" switch="{{ outlet.switch_id }}">Toggle</button>
</div>
{% endfor %}

{% endblock %}


